<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Family Name</th>
            <th scope="col">BirthDate</th>
            <th scope="col">Gender</th>
            <th scope="col">Address</th>
        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let pt of patientsList | orderBy:'name':'asc' ">
            <td>{{pt.resource?.name?.[0]?.given}}</td>
            <td>{{pt.resource?.name?.[0].family}}</td>
            <td>{{pt.resource?.birthDate}}</td>
            <td>{{pt.resource?.gender}}</td>
            <td>{{pt.resource?.address?.[0]?.line?.[0]}} {{pt.resource?.address?.[0]?.city}}</td>
        </tr>
    </tbody>
</table>