<div class="container">
    <div class="p-5 mb-4 bg-light border rounded-3">
        <div class="card">
            <h5 class="card-header"> Patient Details Json Page</h5>
            <div class="card-body">
                <p>
                    The Patient Form is generted via JSON provided.
                </p>
                <hr class="my-4">
                <div class="col-sm-10">
                    <app-json-form [jsonFormData]="formData"></app-json-form>
                </div>
            </div>
        </div>

    </div>
</div>